body {
  color: whitesmoke;
}

.question {
  color: deeppink;
}
h1 {
  color: white;
}
.wrapper.wrapper.wrapper.wrapper.wrapper.wrapper h1 {
  color: darkseagreen;
}
.header + .wrapper h1 {
  color: firebrick;
}
#question-1 {
  color: bisque;
}