body {
  color: whitesmoke;
}
/* Rank = 0,1,0 */
.question {
  color: deeppink;
}
/* Rank = 0,0,1 */
h1 {
  color: white;
}
.wrapper.wrapper.wrapper.wrapper.wrapper.wrapper h1 {
  color: darkseagreen;
}
.header + .wrapper h1 {
  color: firebrick;
}
/* Rank = 1,0,0  */
[id='question-1'] {
  color: bisque;
}