.wrapper {
    /* display: flow-root; */
    overflow: hidden;
}
header {
    display: flow-root;
}
header h1 {
    margin-bottom: 100px;    
}

.question {
    margin-top: 100px;
}

.image {
    float: left;
}