[class^="area"] {
  /* Create Context */
  position: relative;
}

.area {
    display: flex;
}

.box-1 {    
   z-index: 30;
}

.box-2 {
    z-index: 20;
}

.box-3 {
   z-index: 10;
}

.box-4 {
   z-index: 15;
}

.box-0 {

}

.area-2 {
    /* position: relative;
    top: -400px;
    z-index: 2; */
}
